@import '../variables';
nav {
  background-color: $lightgray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: $box-shadow;
  & > * {
    line-height: 56px;
    height: 56px;
    padding: 0;
  }
  & + * {
    margin-top: 76px;
  }
  .brand-logo {
    @include default-font(2em);
  }
  ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
  li{
    @include default-font(15px);
  }
}