@import '../variables';

.team-button-gryffindor {
  background-color: $gryffindor;
}

.team-button-slytherin {
  background-color: $slytherin;
}

.team-button-ravenclaw {
  background-color: $ravenclaw;
}

.team-button-hufflepuff {
  background-color: $hufflepuff;
}
